<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">

<title>{% block title %}untitled - {% endblock %}Halifax Maker Space</title>

<h1>Halifax Maker Space</h1>
<h2>Internal tools prototype</h2>

{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% else %}
<div><a href="/login">Login</a> | <a href="/register">Register</a></div>
{% endif %}
<div>Signed in as: <a href="/wiki/user-{{request.user}}">{{request.user}}</a></div>
<div>
  <a href="/">home</a> |
  <a href="/wiki">wiki</a> |
  <a href="/payments">payments</a>
</div>
<hr>


{% block content %}

{% endblock %}
